* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #D7E1EC;
  background-image: linear-gradient(326deg, #D7E1EC 0%, #FFFFFF 74%);
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;

}