.main-cart-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    
}

.cart-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
    text-shadow: 2px 2px  rgb(255, 255, 255);
    width: 50%;
}

.cart-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.checkout-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    flex-wrap: wrap;
    width: 40%;
    margin: 15px;
    padding: 20px;
    border: 2px solid #ccc; 
    
}

.checkout-title {
   display: flex;
   justify-content: center;
    flex-direction: column;
   align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
    text-shadow: 2px 2px  rgb(255, 255, 255);
    width: 50%;
    
}

.checkout-total {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    margin-bottom: 20px;
    text-shadow: 2px 2px  rgb(255, 255, 255);
    width: 50%;
}

.checkout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.checkout-btn button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.cart-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 10px;
    padding: 25px;
    width: 80%;
    flex-wrap: wrap;


}

.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px auto;
    padding: 25px;
    width: 100%;
}



.remove-from-cart-btn{
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.card {
    display: flex;
    padding: 15px;
    margin: 10px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    justify-content: center;
}

.card button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 13px;
    margin-top: 10px;
}

#payment-form {
    padding: 20px;
    margin: 20px;
    
}

.label {
    padding: 20px;
    border: 2px solid #ccc;
    width: 500px;
}

.success-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    background-color: #4CAF50;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;

    width: 25%;
}